*{
    margin: 0;
    padding: 0;
   }
   /* Header */
header{
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.main-title{
    font-family: 'Work Sans', sans-serif;
    margin-top: 216px;
    margin-left: 800px;
    margin-right: 230px;
}
.title{
    
    font-size: 25px;
}
.title-des{  
margin-top: 24px;
font-size: 15px;
line-height: 15px;
}
.btn-primary{
    height: 64px;
    width: 160px;
    padding: 21px 25px;
    border: none;
    margin-top: 25px;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
}
/* failurs section */
.my-failures{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.failures{
   width: 416px;
   height: 400px;
   margin-top: 260px;
   text-decoration: none;
   margin-left: 40px;
}
.fail-title{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 47px;
    font-weight: 700;
}
.fail-desc{
    margin-bottom: 20px;
    font-size: 15px;
    padding-right: 15px;
}
li{
    list-style: none;
}
.fail-list{
    line-height: 1.5;
    font-size: 18px;
}
li{
list-style-type: '\2713';
}
/* plans part */
.plans{
    font-family: 'Work Sans', sans-serif;
}
.plans-title{
    font-size: 40px;
    margin-top: 130px;
    margin-left: 46%;
}
.plan-details{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;}
.single-plan-title{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
}
.single-plan-desc{
    font-size: 20px;
    color: #737272;
}

/* skills Part */

my-skills{
    font-family: 'Work Sans', sans-serif;

}
.my-skills-title{
    font-size: 40px;
    margin-top: 130px;
    margin-left: 46%;
}

.my-skill-details{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}
/* Call to Action */

.action-details{
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    margin-top: 100px;
    position: relative;
    margin-left: 190px;
    border-radius: 8px;
}
.action-text{
    position: absolute;
    top: 110px;
    left: 64px;
    color: #FFFFFF;
}
.action-btn{
    position: absolute;
    top: 190px;
    left: 64px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color:#F15B22;
    width: 100px;
    height: 48px;
    padding: 15px 20px 15px;
}

/* footer part */
footer{
    display: flex;
    background-color:#151414;
    margin-top: 100px;
    justify-content: space-between;
    padding-left: 185px;
    padding-right: 185px;
    padding-top: 130px;
    padding-bottom: 130px;
}
.footer-heading{
    font-family: 'Work Sans', sans-serif;
    color:#F8F8F8 ;
    margin-bottom: 13px;
    font-size: 45px;
}
.footer-desc{
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 20px;
}
.email{
    color: #FFFFFF;
    padding-bottom: 16px;
}
.phone{
    color: #FFFFFF;
    padding-bottom: 32px;
}
.newsletter{
   display: inline-block
}
.news-title{
color: #FFFFFF;
margin-bottom: 20px;
font-family: 'Work Sans', sans-serif;
font-size: 25px;
}
.mail{
    color: #F3F3F3;
    border-radius: 8px;
    border: 0.5px solid white;
    background-color: #151414;
    height: 40px;
    width: 220px;
    padding-left: 15px;
}
.subs-btn{
    margin-top: 20px;
    border-radius: 10px;
    height: 45px;
    width: 120px;
    color: #F15B22;
    font-family: 'Work Sans', sans-serif;
}